.pageBox{
	width:100%;
	border:1px solid #ccc;
	margin-top:30px;
}
.top,.materialwork{
	width:100%;	
}
.top,.middle{
	border-bottom:1px solid #ccc;
	padding-bottom:20px;
}
.top p,.middle p,.bottom p{
	width:100%;
	height:50px;
	line-height:50px;
	padding-left:20px;
	border-bottom:1px solid #ccc;
}
.top p span{
	color:#2285d3;
}
.materialwork{
	height:35px;
	line-height:50px;
	padding-left:20px;
}
.materialwork a{
	margin-right:5px;
}
.middleTable,.topTable{
	width:96%;
	margin:0 auto;
}
.topTable{
	margin-top:20px;
}
.pageBox .top .topTable tr td{
		vertical-align:middle;
}
.topTable td>span{
	width:100%;
	display:inline-block;
	text-align:right;
}
.middle>div{
	width:96%;
	margin:0 auto;
	margin-top:20px;
	border:1px solid #ccc;
}
.top>div,.middle>div,.bottom>div{
	width:96%;
	height:100px;
	line-height:50px;
	margin:0 auto;
	margin-top:20px;
	padding-left:150px;
	border:1px solid #ccc;
}
.bottom a{
	display:inline-block;
	cursor:pointer;
}
.bottom a span{
	color:#d9534f;
}
.bottom{
	padding-bottom:20px;
}