.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}
#main .table-responsive{
    border: none;
    width: 91%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding-top:10px;
    margin: 0 auto;
}
.partsAddTable-box{
	width:90%;
	margin:0 auto;
}
.partsAddTable-box table,.tabletitleBox{
	width:85%;
	margin:0 auto;
}
.tabletitleBox{
	height:40px;
}
.partsAddTable-box .partsAddTable tr td{
	vertical-align:middle;
}
.partsAddTable td input{
	font-size:12px;
	height:26px;
}
.partsAddTable .Liucheng input{
	height:14px;
}
.partsAddTable .DatesheetShow{
	display:inline-block;
	margin-left:10px;
	width:240px;
	word-wrap: break-word;
    word-break: break-all;
}
.symbolBtn{
	margin-left:6px;
	margin-top:2px;
}
.valueLength{
	width:34%;
}
.partsAddTable .normalAttrs{
	width:40px;
	font-size:14px;
	vertical-align:middle;
	text-align:center;
	word-wrap: break-word;
    word-break: break-all;
}
.partsAddTable .aboutLiucheng{
	padding-left:46px;
}
.partsAddTable .sameLength{
	width:15%;
}
.partsAddTable .partsImages{
	vertical-align:middle;
}
.symbol{
	width:80%;
	float:left;
}
.symbolBtn-edit{
	margin-left:8px;
	margin-top:1px;
}
.partsAddTable .partsImages .parts-images{
	width:86%;
}
.partsAddTable .partsImages .uplogo{
	width:10%;
}
.uploadBtnClass{
	width:30px;
	height:30px;
	opacity: 0;
	cursor:pointer;
	border: 15px solid black;
	font-size:0;
    overflow: hidden;
    position: relative;
  	left: 0px;
  	top: -25px;
}
.inputBox{
	display:inline-block;
    height: 28px;
    text-decoration: none;
    color: #ed1b24;
    position: relative;
}
.partsImages {
	display:inline-block;
    height: 34px;
    text-decoration: none;
    color: #d9534f;
    cursor:pointer;
    position: relative;
}
.parts-images img{
	max-width:100%;
	max-height:200px;
}
.bigerImages{
	transform-origin:50% 50%;
    transform:scale(2);
}
.liuchengTitle-box{
	width:85%;
	margin:0 auto;
}
.liuchengTitle,.tabletitle{
	height:30px;
	margin-top:20px;
	margin-left:10px;
	font-size:16px;
	font-weight:bold;
}
.tabletitle{
	margin-top:0px;
	line-height:34px;
}
.liuchengTitle span{
	margin-left:6px;
}
.liuchengTitle b{
	display:inline-block;
	width:14px;
	height:14px;
	background:#d9534f;
	border-radius:50%;
}
.btns{
	width:380px;
	height:30px;
	margin-top:20px;
}
.btns a{
	border:1px solid #d9534f;
	margin-left:50px;
	color:#d9534f;
}
.btns a:hover{
	color:#d9534f;
}
/********娴佺▼鍥炬牱寮�*******/
.flow-manageAddRight{
	width:90%;
	margin:0 auto;
	margin-top:60px;
	height:200px;
}
.flow-manageAddRight #flowPng{
	width:85%;
	float:left;
	margin-left:7.6%;
	text-align:center;
	border:1px solid #ccc;
}
.producthand-btn{
	width:100%;
	text-align:center;
}
.producthand-btn a{
	width:200px;
}
/********鍏冨櫒浠剁敵璇峰崟浜哄憳閫夋嫨寮圭獥*******/
.flow-setting-nodeUser-choose,.flow-updateSymble-edit,.flow-replaceChoose-edit{
    background: #fff;
    border: 3px solid #ccc;
    width: 800px;
    height:532px;
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-222px;
    margin-left: -400px;
    z-index: 35;
    display: none;
}
.flow-replaceChoose-edit{
	width:1000px;
	 margin-left: -500px;
}
.flow-setting-nodeUser-choose-header,.flow-updateSymble-edit-header,.flow-replaceChoose-edit-header{
    width: 100%;
    height: 40px;
    border: 0;
}
.flow-setting-nodeUser-choose-header a,.flow-updateSymble-edit-header a,.flow-replaceChoose-edit-header a{
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
}
.choose-box{
    width: 70%;
    float: left;
    margin-top: 10px;
    margin-left:16px;
}
.nodeUser-choose-tree{
    width: 26%;
    height: 300px;
    float: left;
    margin-top: 10px;
}
#jstree1 a{
    margin: 0;
}
.nodeUser-choose-bottom{
    width: 100%;
    height: 50px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    position:absolute;
    bottom:0;
}
.table-footer{
    margin-left: 340px;
}
.nodeUser-choose-bottom a{
    float: right;
    margin-right:10px;
    margin-top:8px;
}
.flow-setting-nodeUser-choose-body>div a,.flow-setting-nodeUser-body>div a{
    margin:8px 10px 10px 0;
}
.choose-table-input{
    width: 70px;
    text-align: center;
}
.choose-header2{
	width:100%;
	height:60px;
	padding:20px 24px;
}
.choose-header2 input{
    width: 200px;
    float: left;
}
.choose-header3{
	padding:20px 24px;
}
.chooseFile{
	float:left;
}
.chooseFile span{
	display:inline-block;
	float:left;
	margin-right:10px;
	margin-top:6px;
}
.chooseFile select{
	width:200px;
}
.uploadFile{
	float:right;
}
.choose-header2 a{
    width: 90px;
    display: block;
    float: left;
    margin-left:10px;
}
.choose-header2 .uploadFileBtnBox{
	 display: inline-block;
    padding: 4px 10px;
    margin-top: 0px;
    height: 30px;
    line-height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #666;
    text-align:center;
    cursor: pointer;
    position: relative;
}
#uploadFileBtnEdit{
	width: 90px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
    font-size: 0;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
}
.flow-updateSymble-edit-body .choose-box{
	width:96%;
	height:350px;
}
.showSymbol{
	width:49%;
	height:350px;
	border:1px solid #ccc;
}
/* 閫夋嫨鏁版嵁鎵嬪唽寮圭獥 */
.parts-producthand-window-btn{
	width:100%;
	margin-top:5px;
}
.parts-producthand-window-btn a{
	width:200px;
	 margin-left:100px; 
}
/*鍙浛浠ｇ墿鏂欏脊绐�  */
.replaceChooseLeft{
/* 	width:320px; */
	height:420px;
	max-height:430px;
	overflow-y:auto;
	float:left;
}
.replaceChooseRight{
	width:660px;
	height:380px;
	max-height:380px;
	overflow-y:auto;
	float:right;
}
.replaceChooseSearch{
	width:100%;
	padding:13px;
	height:60px;
}
.replaceChooseSearch input{
	width:300px;
	float:right;
	margin-right:10px;
}
