.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}

#main .table-responsive{
    border: none;
    width: 91%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding-top:10px;
    margin: 0 auto;
}
/*********比较***********/
.parts-compare-box{
    width: 970px;
    height:120px;
    border: 1px solid #ccc;
    background: #fff;
    position: fixed;
    left: 50%;
    bottom:0;
    margin-left: -485px;
    z-index: 10;
    display:none;
}
.parts-compare-title{
    width: 100%;
    height: 30px;
}
.parts-compare-title .title-left{
	width:134px;
    height: 30px;
    border: 2px solid #d9534f;
    border-bottom: none;
    text-align:center;
}
.parts-compare-title .title-left b{
    display:block;
    line-height: 25px;
    margin: 0 auto;
    color: #d9534f;
}
.parts-compare-title .title-right{
	width:834px;
    height: 30px;
    border-bottom:2px solid #d9534f;
}
.parts-compare-title .title-right a{
    float: right;
    margin-right: 20px;
    margin-top: 4px;
    color: #1b6d85;
    cursor:pointer;
}
.parts-compare-body{
    width: 100%;
    height:90px;
    border: 2px solid #d9534f;
    border-top: none;
}
.item-empty-box{
    overflow: hidden;
}
.item-empty-box dl{
    float: left;
    overflow: hidden;
    margin-right: 10px;
    padding: 17px 10px 12px 0;
    border-right: 1px dotted #d9534f;
}
.item-empty-box dt{
    float: left;
    margin-right: 5px;
    width: 48px;
    height: 48px;
    text-align: center;
    color: #ccc;
    border: 1px solid #fff;
    font: 36px/48px arial;
    overflow: hidden;
}
.item-empty-box dd{
    float: left;
    width: 140px;
}
.diff-operate{
    position: absolute;
    right: 22px;
    top: 44px;
    width: 85px;
    text-align: center;
}
.diff-operate .del-items{
	color:#1b6d85;
}
.btn-compare-b {
    display: block;
    height: 30px;
    font: 700 14px/30px verdana;
    margin-left: 13px;
    margin-bottom: 11px;
    border-radius: 3px;
    border: none;
    color: #fff;
    background-color: #E74649;
    cursor: pointer;
}
.btn-compare-b:hover{
    color: #fff;
}
.diff-item-name{
    height: 2.5em;
    line-height: 2.5em;
    overflow: hidden;
    display: block;
    color: #333;
}
.item-empty-box .xinghao{
    color: #d9534f;
}
.item-empty-box .p-price b{
    display:inline-block;
    width:90px;
    word-break:break-all;
    word-wrap: break-word;
    float:left;
}
.item-empty-box .p-price a{
    color: #1b6d85;
    float:right;
}

/******左侧下拉*******/
 .leftsidebar_box{width:24%;height:auto !important;overflow:visible !important;height:100% !important;background-color:#fff;}
 .line{width:100%;} 
.leftsidebar_box dt{padding-left:40px;padding-right:10px;background-repeat:no-repeat;background-position:10px center;color:#666;font-size:14px;position:relative;line-height:32px;cursor:pointer;}
.leftsidebar_box dd{background-color:#fff;padding-left:40px;}
.leftsidebar_box dd a{color:#333;line-height:20px;} 
.leftsidebar_box dt img{position:absolute;left:10px;top:12px;}
.leftsidebar_box dd:hover{
	background-color:#f2f2f2;
} 
 dl dd span{
    float: right;
    width:100%;
    color: #d9534f;
}
dl dt span{
    float: right;
    color: #d9534f;
} 
 .leftsidebar_box dl dd:last-child{padding-bottom:10px;} 
/******右边主体********/
 .right-body{
    width: 74%;
}
.parts-choose{
    width:100%;
}
.parts-choose{
    border-bottom: 1px solid #ccc;
    padding:10px 0;
    width:100%;
}
.parts-choose b{
    display:inline-block;
    padding:3px 0;
}
.parts-choose ul{
    width:90%;
}
.right-body .parts-choose1 ul{
	width:40%;
}
.parts-choose li{
    display:inline-block;
    padding: 3px 10px;
    float: left;
    cursor: pointer;
}
.parts-choose li a{
    color:#333;
}
.parts-choose li a:hover{
    color:#d9534f;
}
.parts-search-btngroup{
	height:78px;
	line-height:78px;
    float:right;
    margin-right:7%;
	text-align:right;
}
.parts-search-btngroup a{
	display: inline-block;
    line-height:52px;
    border-radius: 6px;
    color: #333;
    background:#fff;
    margin: 0px 5px;
    cursor: pointer;
}
.parts-search-btngroup a>i{
	display:inline-block;
	width:20px;
	height:20px;
	float:left;
	margin-top:21px;
	margin-right:3px;
	color:#ed1b24;
}
/* .partsAdd-btn>i{
	background:url("/cms_cloudy/images/cssJL.png") no-repeat;
	background-position: -18px -16px;
}
.partsChange-btn>i{
	background:url("/cms_cloudy/images/cssJL.png") no-repeat;
	background-position: -269px -14px;
}
.partsDelete-btn>i{
	background:url("/cms_cloudy/images/cssJL.png") no-repeat;
	background-position: -318px -14px;
}
.choose-btn>i{
  	background:url("/cms_cloudy/images/cssJL.png") no-repeat;
	background-position: -366px -13px;
}
.daoru-btn>i{
	background:url("/cms_cloudy/images/cssJL.png") no-repeat;
	background-position: -119px -14px;
}
.partsOut-btn>i{
	background:url("/cms_cloudy/images/cssJL.png") no-repeat;
	background-position: -166px -14px;
}
.partsSubmit-btn>i{
	background:url("/cms_cloudy/images/cssJL.png") no-repeat;
	background-position: -465px -14px;
} */
/* .parts-search-btngroup a:hover{
	color:#4cb0e4;
} */
.parts-search-btngroup .daoru-btn{
    position: relative;
    top:0px;
    height:50px;
}
.saveInsert{
	position:absolute;
	top:40px;
	left:0;
	width:80px;
	display:none;
}
.saveInsert li{
	border:1px solid #ccc;
	background:#fff;
	height:25px;
	line-height:25px;
	text-align:center;
}
.daoru-btn .savedaoru, .daoru-btn .updatedaoru{
    width: 80px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.daoru-btn .updatedaoru{
	 position: absolute;
    top: 25px;
    right: 0;
}
.diff-item-name{
	cursor:default;
}
.parts-admin{
	width:172px;
}
.parts-search-img{
	width:100px;
}
.parts-search-admin{
	width:134px;
}
.parts-search-input .parts-admin a{
	display:inline-block;
	width:40px;
	height:30px;
	padding:5px 7px;
	border:1px solid #ccc;
	border-radius:6px;
	color:#d9534f;
	margin:2px 0;
	cursor:pointer;
}
.parts-search-input .parts-admin a:hover{
	background:#fff;
}
.parts-search-input{
    background-color: #f9f9f9;
} 
.parts-search-input1 input{
	height:26px;
	font-size:12px;
}
#manuf img{
	margin-top:4px;
}
/*******锟斤拷锟�******/
 .parts-search table{
    border-bottom: 1px solid #ccc;
}
.parts-search table .parts-search-data td{
    vertical-align: middle;
    height: 100px;
    width:100px;
    padding:8;
    word-wrap: break-word;
    word-break:break-all;
}
.parts-search table .parts-search-data .search-checkbox{
   width:30px;
}
.parts-search table .parts-search-data .num-checkbox{
   width:70px;
   text-align:center;
}
.parts-search table .parts-search-data .num-checkbox input{
   width:40px;
   height:20px;
   padding:0;
}
.parts-search table .parts-search-data .data-book{
   cursor:pointer;
   margin:0;
}
.parts-search table .parts-search-data .data-book i{
	display:inline-block;
	width:20px;
	height:21px;
	float:left;
	color:#ed1b24;
	/* background:url("/cms_cloudy/images/cssJL.png") no-repeat;
	background-position: -269px -115px; */
	
}
.parts-search table .parts-search-data .data-book:hover{
	color:#4db0e4;
}
.parts-search table .parts-search-data .parts-search-img{
   width:86px;
   height:100%;
}
 @media screen and(-ms-high-contrast:active),(-ms-high-contrast:none) {
             .parts-search table .parts-search-data .parts-search-img{
                       height:52px;/* ie11 */
                       }
             }
:root .parts-search table .parts-search-data .parts-search-img { 
	height:70px\9;  
	}
.parts-search table .parts-search-data .hand-work{
   width:150px;
   margin:0 auto;
   text-align:center;
}
.parts-search td a{
	width:110px;
	text-align:left;
    display: inline-block;
    margin:5px 0px 0 0px;
}
.parts-search td .sosoPic{
    display: inline-block;
    width: 32px;
    height: 34px;
    margin-left: 2px;
    margin-top: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.parts-search td .sosoPic img{
    margin:6px 0 0 5px;
}
.parts-search .hand-work{
    width:150px;
}
.parts-search .search-checkbox{
	 width:30px;
}
.parts-search .search-checkbox input,.parts-search-data input{
	width:20px;
}
.parts-search .view-box{
    width:150px;
    text-align: center;
    margin-top: 4px;
}
.parts-search .view-box i{
	display:inline-block;
	width:20px;
	height:20px;
	/* float:left; */
    margin:6px 2px 0 6px;
    color:#ed1b24;
}
/* .parts-search .view-box .gengduo{
	background:url("/cms_cloudy/images/cssJL.png") no-repeat;
	background-position: -417px -12px;
}
.parts-search .view-box .xuanyong{
	background:url("/cms_cloudy/images/cssJL.png") no-repeat;
	background-position: -212px -13px;
}
.parts-search .view-box .history{
	background:url("/cms_cloudy/images/cssJL.png") no-repeat;
	background-position: -64px -14px;
}
.parts-search .view-box .data-book .PDF{
	background:url("/cms_cloudy/images/cssJL.png") no-repeat;
	background-position: -66px -15px;
} */
.parts-search .view-box1{
	    cursor: pointer;
}
.parts-search .compare-label,.parts-search .compare-view{
    /* width:47%; */
    height:28px;
    line-height: 28px;
    border: 1px solid #ccc;
    cursor:pointer;
    padding-right:4px;
}
.parts-search .compare-view{
    padding:4px;
    border-left: none;
}
.parts-search td .compare-view a{
	margin:0;
	margin-top:-6px;
}
/* .parts-search .compare-view:hover{
	color:#d9534f;
} */
.parts-search .view-box .compare-label span{
    display: inline-block;
    float: left;
    margin-top: -2px;
    margin-left: 2px;
}
.parts-search .view-box .compare-view span{
    display: inline-block;
    float: left;
    margin-top: -4px;
    margin-left: 4px;
}
.parts-search .compare-check{
    float: left;
    width:20px;
    margin-top: 7px;
    margin-left: 4px;
}
.parts-search-data a{
    color: #333;
}
.parts-compare-box{
    display:none;
} 
/********弹出框**************/
 .parts-add-window,.parts-change-window,.parts-into-window,.parts-product-window,.parts-producthand-window{
    background: #fff;
    border: 2px solid #ccc;
    width: 600px;
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-190px;
    margin-left: -300px;
    z-index: 30;
    display:none;
}
.parts-product-window,.parts-producthand-window{
	width: 400px;
	height:510px;
	margin-top:-190px;
	margin-left: -190px;
}
.parts-add-window-header,.parts-change-window-header,.parts-into-window-header,.parts-product-window-header,.parts-producthand-window-header{
    width: 596px;
    height: 40px;
    border: 0;
}
.parts-product-window-header,.parts-producthand-window-header{
	width:396px;
}
.parts-add-window-header>a,.parts-change-window-header>a,.parts-into-window-header>a,.parts-product-window-header>a,.parts-producthand-window-header>a{
    display: block;
    margin-left: 20px;
    padding-top: 10px;
}
.parts-add-window-header>a span,.parts-change-window-header>a span,.parts-into-window-header>a span,.parts-product-window-header>a span,.parts-producthand-window-header>a span{
	margin-right:8px;
}
.parts-add-window-table-box,.parts-change-window-table-box,.parts-into-window-table-box{
	   width:100%;
	   max-height:310px;
        overflow-y:auto;
	}
.parts-add-window-table,.parts-change-window-table,.parts-into-window-table,.parts-product-window-table{
    width:460px;
    margin:10px 50px 0 50px;
}
.parts-product-window-table,.parts-producthand-window-table{
	width:200px;
	position:absolute;
	bottom:10px;
	left:66px;
}
.parts-producthand-window-table{
	left:120px;
}
.parts-product-window-table a,.parts-producthand-window-table a{
	width:150px;
}
.parts-add-window-table span,.parts-change-window-table span,.parts-into-window-table span{
	width:125px;
	display:inline-block;
	text-align:right;
}
.parts-add-window-table span b,.parts-change-window-table span b{
	color:red;
}
.parts-add-window-table .DatesheetShow,.parts-change-window-table .DatesheetShow{
	width:246px;
	float:right;
	margin-right:20px;
	text-align:left;
	padding-left:10px;
}
.parts-add-window-table input,.parts-change-window-table input{
	width:350px;
}
.parts-add-window-table select,.parts-change-window-table select,.parts-into-window-table select{
	width:350px;
}
.parts-add-window-table tr,.parts-change-window-table tr,.parts-into-window-table tr{
	height:42px;
}
.parts-add-window-table a,.parts-change-window-table a{
    display: block;
    margin:20px  136px;
    width:230px;
}
.parts-add-window-table .attruser-btn,.parts-change-window-table .attruser-btn{
	width:80px;
	height:26px;
	line-height:23px;
	margin:0;
}
.parts-into-window-table a{
	width:100px;
	margin: 0 0 20px 75px;
} 
.productmix-treeBox,.productmix-treeBox1{
	width:96%;
	height:400px;
	max-height:400px;
	overflow-y:auto;
	overflow-x:auto;
}
.select-box{
	width:100%;
	padding:5px 20px 0 50px;
}
.select-box p{
	display:inline-block;
	width:70px;
	float:left;
	line-height:40px;
}
.select-box select{
	float:left;
	display:inline-block;
	margin-top:5px;
	width:204px;
}
.producthand-btn {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
